<launch>
  <arg name="nodelet_manager_name"    value="mobile_base_nodelet_manager"/>
  <arg name="kobuki_publish_tf"       default="true"/> <!-- Publish base_footprint - odom transforms (usually good thing to have for localisation) -->
  <arg name="run_safety_controller"   default="false"/>

  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"/>

  <!-- Driver nodelet -->
  <node pkg="nodelet" type="nodelet" name="mobile_base"
	args="load kobuki_node/KobukiNodelet $(arg nodelet_manager_name)">
    <rosparam file="$(find kobuki_node)/param/base.yaml" command="load"/>
    <param name="publish_tf" value="$(arg kobuki_publish_tf)"/>
    <remap from="mobile_base/odom" to="odom"/>
    <remap from="mobile_base/joint_states" to="joint_states"/>
  </node>

  <!-- Command mux -->
  <node pkg="nodelet" type="nodelet" name="cmd_vel_mux"
        args="load yocs_cmd_vel_mux/CmdVelMuxNodelet $(arg nodelet_manager_name)">
    <param name="yaml_cfg_file"  value="$(find kobuki_random_walker)/param/cmd_vel_mux.yaml"/>
    <remap from="cmd_vel_mux/output/cmd_vel"  to="mobile_base/commands/velocity"/>
  </node>

  <!-- Safety controller -->
  <node if="$(arg run_safety_controller)"
	pkg="nodelet" type="nodelet" name="kobuki_safety_controller"
        args="load kobuki_safety_controller/SafetyControllerNodelet $(arg nodelet_manager_name)">
    <remap from="kobuki_safety_controller/cmd_vel"                  to="cmd_vel_mux/safety_controller"/>
    <remap from="kobuki_safety_controller/events/bumper"            to="mobile_base/events/bumper"/>
    <remap from="kobuki_safety_controller/events/cliff"             to="mobile_base/events/cliff"/>
    <remap from="kobuki_safety_controller/events/wheel_drop"        to="mobile_base/events/wheel_drop"/>
  </node>

  <!-- Diagnostic agreggator -->
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find kobuki_node)/param/diagnostics.yaml" />
  </node>

  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find kobuki_description)/urdf/kobuki.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />
</launch>
