
<launch>


  <!-- BEGIN ROBOT 1-->
  <group ns="robot1_tf">
      <param name="tf_prefix" value="robot1_tf" />
      <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="0 0 0 0 0 0  /world /robot1_tf/odom 100" />
  </group>


  <!-- BEGIN ROBOT 1-->
  <group ns="robot2_tf">
      <param name="tf_prefix" value="robot2_tf" />
      <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="-1 0 0 0 0 0  /world /robot2_tf/odom 100" />
  </group>

  <!-- BEGIN ROBOT 1-->
  <group ns="robot3_tf">
      <param name="tf_prefix" value="robot3_tf" />
      <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="-2 0 0 0 0 0  /world /robot3_tf/odom 100" />
  </group>

</launch>
